
<div id="home">
    <div id="home1">
    <div class="home2">
        <h1>
            Book unique places to 
            <br><a href="https://www.airbnb.ca/sitemaps/v2" style="color:inherit">stay</a>
             and things to do.
        </h1>
    </div>
    <form method="POST">
        <div class="home_labels">
            WHERE 
        </div>
            <select class="home_whereIP">
                <option >Anywhere</option>
                <option value="Montreal">Montreal</option>
                <option value="Vancouver">Vancouver</option>
                <option value="Calgary">Calgary</option>
                <option value="Toronto">Toronto</option>
            </select>
        <div id="home_grid">
        <div>
            <div style="margin-bottom: 8px">
                <span class="home_labels">CHECK-IN</span>
            </div>
            <div>
                <input type="date" data-veloute="checkin_input"  placeholder="dd-mm-yyyy" class="home_date">
            </div>
        </div>
        <div>
            <div style="margin-bottom: 8px">
                <span class="home_labels">CHECKOUT</span>
            </div>
            <div>
                <input type="date" data-veloute="checkout_input"  placeholder="dd-mm-yyyy" class="home_date">
            </div>
            </div>
        </div>
        <div class="home_labels">
            GUESTS
        </div>
              <input  class="home_whereIP" type="number" name=number placeholder="How many Guests?" min="0" >
    </form>
     </div>
    </div>  
<div id="home_promo2">
    <div class="home_promo3">Earn money to use with Airbnb! Get up to $38 CAD for every friend you invite.
    </div>
    <div id="home_invitebox">
        <a style="color:black" href="/sign">Log in to invite friends</a>
    </div>
    <div class="home_promo3">Don't have an account yet? <a href="/sign">Sign up.</a></div>
</div> 
<div id="home_aboutus_grid">
    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/-XSAqfK_UwY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    </div>
    <div id="home_aboutus">
        <label id="home_aboutus_label">About us</label>
    <p id="home_aboutus_p">
        Founded in 2008, Airbnb’s mission is to create a world where people can belong through healthy travel that is local, authentic, diverse, inclusive and sustainable. Airbnb uniquely leverages technology to economically empower millions of people around the world to unlock and monetize their spaces, passions and talents and become hospitality entrepreneurs. Airbnb’s accommodation marketplace provides access to 7 million unique places to stay in more than 100,000 cities and 191 countries and regions. With Experiences, Airbnb offers unprecedented access to local communities and interests through 40,000 unique, handcrafted activities run by hosts across 1,000+ cities around the world. Airbnb’s people-to-people platform benefits all our stakeholders, including hosts, guests, employees and the communities in which we operate.
    </p>
    </div>
</div>