
<div id="room_main">
<h2 id="room_h2">Our Rooms</h2>
<div class="room_grid">
    <div class="room_img_box">
    <div class="room_img_boxinner">
        <img  class="room_img" src="1.jpg" alt:"rooms">
    <div class="room_des1">Entire house · 2 beds</div>
    <div class="room_des2">I SETTE CONI - TRULLO EDERA</div>
    <div class="room_des3"><span class="room_price">Price: $103  CAD</span>/night</div>
    </div>
    </div>
    <div class="room_img_box">
    <div class="room_img_boxinner">
        <img class="room_img" src="2.jpg" alt:"rooms">
    <div class="room_des1">Entire house · 2 beds</div>
    <div class="room_des2">The World Famous Seashell House ~ Casa Caracol</div>
    <div class="room_des3"><span class="room_price">Price: $400  CAD</span>/night</div>
    </div>
    </div>
    <div class="room_img_box">
        <div class="room_img_boxinner">
        <img class="room_img" src="3.jpg" alt:"rooms">
    <div class="room_des1">Hut · 2 beds</div>
    <div class="room_des2">Romantic Cabana with view</div>
    <div class="room_des3"><span class="room_price">Price: $53  CAD</span>/night</div>
    </div>
    </div>
</div>
<div class="room_grid">
    <div class="room_img_box">
    <div class="room_img_boxinner">
        <img  class="room_img" src="4.jpg" alt:"rooms">
    <div class="room_des1">Entire house · 3 beds</div>
    <div class="room_des2">Million dollar view in Cabo!!!</div>
    <div class="room_des3"><span class="room_price">Price: $132  CAD</span>/night</div>
    </div>
    </div>
    <div class="room_img_box">
    <div class="room_img_boxinner">
        <img class="room_img" src="5.jpg" alt:"rooms">
    <div class="room_des1">Entire house · 7 beds</div>
    <div class="room_des2">Villa del Toro Rojo #1 rated Superhost in Pedregal</div>
    <div class="room_des3"><span class="room_price">Price: $666  CAD</span>/night</div>
    </div>
    </div>
    <div class="room_img_box">
        <div class="room_img_boxinner">
        <img class="room_img" src="6.jpg" alt:"rooms">
    <div class="room_des1">Entire house · 1 bed</div>
    <div class="room_des2">Cabo Center,Ocean view Great price!</div>
    <div class="room_des3"><span class="room_price">Price: $39  CAD</span>/night</div>
    </div>
    </div>
</div>
</div>

